<header class="header">
    <div class="head-bg" style="background-image: url('assets/img/uploads/rs-cover.jpg')"></div>

    <div class="head-bar">
        <div class="head-bar-inner">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <a class="logo" href="index.html"><span>RS</span>card</a>
                </div>

                <div class="col-sm-9 col-xs-6">
                    <div class="nav-wrap">
                        <nav id="nav" class="nav">
                            <ul class="clearfix">
                                <li><a href="#about">About</a></li>
                                <li><a href="#skills">Skills</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#experience">Experience</a></li>
                                <li><a href="#references">References</a></li>                                
                                <li><a href="#contact">Contact <span></span></a></li>
                            </ul>
                        </nav>

                        <button class="btn-mobile btn-mobile-nav">Menu</button>
                        <button class="btn-sidebar btn-sidebar-open"><i class="rsicon rsicon-menu"></i></button>
                    </div>
                    <!-- .nav-wrap -->
                </div>
            </div>
        </div>
    </div>
</header>