<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">

            <!-- HEADER TOP -->
            <div class="col-lg-12">
                <div class="header-top">
                    <div class="header-top-logo">
                        <a href="index.html" title="Logo"><img src="/assets/img/logo@2x.png" alt="Dblog Logo" data-rjs="2" data-rjs-processed="true" width="32" height="32"></a>
                    </div>
                    <div class="header-top-text">
                        
                    </div>
                    <nav class="header-top-nav">
                        <ul>
                            <li class="header-top-nav-search">
                                <a href="#" class="light-link" title="Search"><i class="pe-7s-search"></i></a>
                                <form action="#" method="get">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <button type="submit"><i class="pe-7s-search"></i></button>
                                </form>
                            </li>
                            <li><a href="#" class="light-link" title="Menu">
                                <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end HEADER TOP -->

            <!-- HEADER NAVIGATION -->
            <div class="col-lg-12">
                <nav class="header-nav">
                    <ul>
                        <li class="active"><a href="index.html" title="Start page">Start page</a></li>                        
                        <li><a href="about_me.html" title="About me">About me</a></li>
                        <li><a href="portfolio.html" title="My projects">My projects</a></li>
                        <li><a href="contact.html" title="Contact me">Contact me</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- end HEADER NAVIGATION -->

    </div>
</header>