
/* global */
.btn {
    border: 1px solid rgba(0,0,0,.5);
    padding: 0 .8rem;
    border-radius: 3px;
    margin-left: 1rem;
    color: rgba(0,0,0,.84);
}
.btn:hover{
    border: 1px solid #e27900;
    color:#e27900;
}
a{
    color: rgba(0,0,0,.84);
}
a:hover{
    color:#e27900;
    text-decoration: none;
}
a.edit{
    color:#e27900;
}
.divider{
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
}

/* header */
.siteheader {
    position: relative;
    padding: 1rem 0 0 0;
    width: 100%;
    color: #000000;
    text-align: center;
    z-index: 999;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    min-height: 80px;
}
.siteheader p {
    align-items: center !important;
    color:#000000;
}
.navbar-brand {
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0px;
    color: #222222;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.navbar-brand a {
    color: #222222;
}
.navbar-brand a:hover {
    text-decoration: none;
}
.header-right ul{
    list-style: none;
}
.header-right ul li{
    list-style: none;
    float: left;
}

/* main */
main{
    padding-top: 2rem;
}

/* featured blog postst */
img.featured-preview{
    max-width: 400px;
}
.featured article h3{
    font-size: 1.4em;
    font-weight: bold;
}
.featured article h3, .featured article h3 a,
.featured article h5, .featured article h5 a{    
    color: rgba(0,0,0,.84);
}
.featured article h3 a:hover, .featured article h5 a:hover{
    color: rgba(0,0,0,.84);
    text-decoration: none;
}
.featured h4{
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 1.8rem;
    font-weight: 700;
}
.featured h5{
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(0,0,0,.84) !important;
    fill: rgba(0,0,0,.84) !important;
}
.featured h4 span {
    border-bottom: 1px solid rgba(0,0,0,.53);
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: -1px;
}
.featured .excerpt{
    color: rgba(0,0,0,.54) !important;
    fill: rgba(0,0,0,.54) !important;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
}
.featured footer, aside.posts footer{
    color: rgba(0,0,0,.54) !important;
    fill: rgba(0,0,0,.54) !important;
    font-size: 0.8rem;
    line-height: 1.2;
}
.featured footer .categories, aside.posts footer .categories{
    list-style: none;
    padding:0;
    margin: 0;
}
.featured footer .categories li, aside.posts footer .categories li{
    float:left;
    padding-right:4px;
}
.featured footer .categories li.title{
    padding-right: 2px;
}

.bg, article.post.bg{
    background-color: #efe6da;
}
article.post .content{
    padding: 1rem;
    
}
article.post figure{
    margin:0;
}
article time{
    line-height: 1.2;
}

article.post.full .content{
    padding: 0;
    
}

/* social */
.socialsharing ul{
    list-style: none;
    padding:0;
    margin:0;
}
/* navigation */
.pagination{
    display: inline;
}
.pagination .btn{
    margin-left: 0;
}

/**/

/* asides */
aside{
    padding-bottom: 32px;
}
aside.posts h4, aside.socialsharing h4 {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 1.8rem;
    font-weight: 700;
}
aside.posts h4 span, aside.socialsharing h4 span {
    border-bottom: 1px solid rgba(0,0,0,.53);
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: -1px;
}
aside.posts h5{
    font-size: 1.1em;
    font-weight: bold;
}
aside.posts article.post{
    margin-bottom:16px;
}
/* footer */

.disclaimer{
    list-style: none;
    padding:0 0 16px 0;
    margin:0;
    float: left
}
.disclaimer li {
    padding:0 8px 0 8px;
    margin:0;
    float: left;
    border-right: solid 1px #CCCCCC;
}
.disclaimer li:last-child {
    border:none;
}
