<div class="banner-wrapper" *ngIf="postItem">
    <a routerLink="/article/{{postItem.id}}" title="{{postItem?.title}}">
        <div class="banner-wrapper-content">
            <h1 class="h2">{{postItem?.title}}</h1>
            <span class="category-tag category-tag-white">CSS</span>
            <time class="">{{postItem?.publishDate}}</time>
        </div>
    </a>
    <img class="img-fluid" src="../assets/img/photo1@2x.jpg" alt="Post Photo" data-rjs="2" data-rjs-processed="true" width="428" height="367">
</div>