@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;    
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
    
}

@section Head {
    <link rel="canonical" href="@(host + Model.GetLink())" />
    @if (showFullPost) {
    <link rel="stylesheet" href="~/css/comments.scss" />
        }
    }

@{
    if (showFullPost)
    {
    <div class="container">
        
        @{
            await Html.RenderPartialAsync("Article.cshtml", Model);
            await Html.RenderPartialAsync("_SocialSharing", Model.Title);
            await Html.RenderPartialAsync("Comments");
        }       
    </div>
    }
    else {
        await Html.RenderPartialAsync("Article.cshtml", Model);
    }
}

@if (User.Identity.IsAuthenticated)
{
    @section Scripts {
        <script src="~/js/admin.js" async defer></script>
        <link rel="stylesheet" href="~/css/admin.scss" />
    }
}
