@model string
@{
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model);
}

<aside class="socialsharing">
    <h4>
        <span>Contact</span>
    </h4>
    <ul>
         <li>
            <a href="https://twitter.com/sod909" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fa fa-twitter-square"></i> Twitter
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/chefdog/" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fa fa-linkedin"></i> Linkedin
            </a>
        </li>        
    </ul>
</aside>