@model string
@{
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model);
}

<aside class="socialsharing">
    <h4>
        <span>Share it</span>
    </h4>
    <ul>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fa fa-facebook-square"></i> Facebook
            </a>
        </li>
        <li>
            <a href="https://twitter.com/intent/tweet?url=@enc&text=@text" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fa fa-twitter-square"></i> Twitter
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url=@enc" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fa fa-google-plus-square"></i> Google plus
            </a>
        </li>
        <li>
            <a href="mailto:?subject=@Model.Replace(" ", "%20")&amp;body=@enc" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fa fa-envelope"></i> E-mail
            </a>
        </li>
    </ul>
</aside>